<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <title>Login</title>
</head>

<th:block layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div th:if="${param.error}" class="alert alert-danger" th:text="#{auth.incorrect_user_pw}"></div>

            <div th:if="${param.logout}" class="alert alert-success" th:text="#{auth.logged_aut}"></div>

            <div th:if="${param.account_created}" class="alert alert-success" th:text="#{auth.account_created}"></div>

            <div class="card">
                <div class="card-header" th:text="#{auth.login}"></div>

                <div class="card-body">
                    <form method="POST" th:action="@{/login}">
                        <div class="form-group row">
                            <label for="username" class="col-sm-4 col-form-label text-md-right" th:text="#{auth.username}"></label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right" th:text="#{auth.password}"></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" > <span th:text="#{auth.remember}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <span th:text="#{auth.login_btn}"></span>
                                </button>
                                <a class="btn btn-link" href="#" th:text="#{auth.forgot_pass}"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</div>
</body>
</html>
