<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <title>Login</title>
</head>

<th:block layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card">
                <div class="card-header" th:text="#{auth.register}"></div>

                <div class="card-body">
                    <form th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">

                        <div class="form-group row">
                            <label for="username" class="col-sm-4 col-form-label text-md-right" th:text="#{auth.username}"></label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" th:field="*{username}" required autofocus>
                                <ul>
                                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
                                </ul>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right" th:text="#{auth.password}"></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" th:field="*{password}" name="password" required>
                                <ul>
                                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                                </ul>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right" th:text="#{auth.password}"></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" th:field="*{matchingPassword}" name="password" required>
                                <ul>
                                    <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}" />
                                </ul>
                            </div>
                        </div>


                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <span th:text="#{auth.register}"></span>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</div>
</body>
</html>
