<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <title>Create thread</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Create a new thread</div>

                <div class="card-body">
                    <article>
                        <div class="body">
                            <form method="post" action="#" id="thread-form" th:object="${thread}" th:action="@{/threads/create}">

                                <div class="form-group">
                                    <label for="channel_id">Choose a channel:</label>
                                    <select name="channel_id" id="channel_id" class="form-control">
                                        <option value="">Choose one...</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" th:field="*{title}" class="form-control" id="title" name="title" required>
                                    <ul>
                                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}" />
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label for="body">Body:</label>
                                    <textarea id="body" th:field="*{body}" class="form-control" name="body"></textarea>
                                    <ul>
                                        <li th:each="err : ${#fields.errors('body')}" th:text="${err}" />
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-primary" th:text="#{form.submit}">Submit</button>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>