<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <title>Title here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <p th:if="${threads.empty}">
                There are no relevant results at this time.
            </p>
            <div class="card mb-3" th:each="thread : ${threads}">
                <div class="card-header">
                    <div class="level">
                        <div class="flex">
                            <h4>
                                <a th:href="${thread.path}" th:text="${thread.title}"></a>
                            </h4>
                            <h5>
                                Posted by: <span th:text="${thread.creator.username}"></span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="body">
                        <span th:text="${thread.body}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
