<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <span th:text="${thread.creator.username}"></span> posted <span th:text="${thread.title}"></span>
                </div>
                <div class="card-body" th:text="${thread.body}"></div>
            </div>
            <p sec:authorize="isAnonymous()" class="text-center">Please <a href="/login">sign in</a> to participate in this discussion</p>
        </div>
    </div>
</th:block>
</body>
</html>